/*flexbox 1*/
body {
  font: 1.2em / 1.5 sans-serif;
}
.flex1 ul {
  max-width: 750px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.flex1 a:link,
.flex1 a:visited {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
}

.flex1 ul {
  display: flex;
  justify-content: space-between;
}

/*flexbox 2*/
body {
  font: 1.2em / 1.5 sans-serif;
}
.flex2 {
  max-width: 750px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex2 li {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

.flex2 {
  display: flex;
}
.flex2 li {
  flex: 1;
}

.flex2 {
  display: flex;
}

.flex2 li {
  flex: 1;
}
.flex2 li:first-child {
  flex: 2;
}

/*flexbox 3*/
body {
  font: 1.2em / 1.5 sans-serif;
}
.flex3 {
  width: 450px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex3 li {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
}
  /* Add styles here */

.flex3 {
  display: flex;
  flex-wrap: wrap;
}

.flex3 li {
  /* Add styles here */
  flex: auto;
}
.flex3 {
  display: flex;
  flex-wrap: wrap;
}

.flex3 li {
  flex: auto;
}